
.about-title{
    font-size:7rem;
    text-align: center;
}
.about-one{
    width: 90%;
    height: 25%;
    margin:0 auto;
    background-color: #FFFFFF;
    display:flex;
    padding: 1%;
    border-radius: .5rem;
    margin-top: 2%;
    div{
        img{
            height:100%;
        }
        h2{
            color:black;
            margin-left:2%;
        }
        p{
            color:black;
            margin-left:2%;
        }
    }
}
.about-two{
    width: 90%;
    height: 25%;
    margin:0 auto;
    background-color: #FFFFFF;
    display:flex;
    padding: 1%;
    border-radius: .5rem;
    margin-top: 2%;
    div{
        img{
            height:100%;
        }
        h2{
            color:black;
            margin-left:2%;
        }
        p{
            color:black;
            margin-left:2%;
        }
    }
}
.about-three{
    width: 90%;
    height: 25%;
    margin:0 auto;
    background-color: #FFFFFF;
    display:flex;
    padding: 1%;
    border-radius: .5rem;
    margin-top: 2%;
    div{
        img{
            height:100%;
        }
        h2{
            color:black;
            margin-left:2%;
        }
        p{
            color:black;
            margin-left:2%;
        }
    }
}
.about-four{
    width: 90%;
    height: 25%;
    margin:0 auto;
    background-color: #FFFFFF;
    display:flex;
    padding: 1%;
    border-radius: .5rem;
    margin-top: 2%;
    div{
        img{
            height:100%;
        }
        h2{
            color:black;
            margin-left:2%;
        }
        p{
            color:black;
            margin-left:2%;
        }
    }
}
.about-five{
    width: 90%;
    height: 25%;
    margin:0 auto;
    background-color: #FFFFFF;
    display:flex;
    padding: 1%;
    border-radius: .5rem;
    margin-top: 2%;
    margin-bottom: 2%;

    div{
        img{
            height:100%;
        }
        h2{
            color:black;
            margin-left:2%;
        }
        p{
            color:black;
            margin-left:2%;
        }
    }
}