header {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.09), #ffffff17), #121212;
  height: 10%;

  @media @tablet {
    width: 100%;
  }

  @media @phone{
    height: 15%;
  }

  .header-container{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    height: 3vh;
    display: flex;
    justify-content: space-between;

    @media@phone{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .header-logo{
      width: 30%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;

      @media@phone{
        width: 40%;
        text-align: center;
        align-items: none;
      }


    h1{
      color: white;
      font-size: 4rem;
      padding-top: 3rem;
      
      @media @tablet {
        font-size: 3rem;
      }

      @media@phone{
        width: 100%;
        font-size: 2.1rem;
        padding-top: 150px;
        padding-bottom: 10%;
      }
    }
    }
    .navbar{
      width: 70%;
      height: 10vh;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      

      ul{
        display: flex;
        height: 13vh;
        justify-content: flex-start;
        align-items: center;
      }
      
      .login{
        width: 10%;

        a{
      color: rgba(255, 255, 255, 0.4);
      font-size: 2rem;
      text-decoration: none;
      padding-right: 60%;

      @media@tablet{
        padding-left: 0;
      }
        }

        a:hover{
          color: white;
        }
      }

    }

    ul li a{
      color: rgba(255, 255, 255, 0.6);
      font-size: 2rem;
      text-decoration: none;
      padding-top: 3rem;
      padding-right: 25rem;

      @media @tablet {
        padding-right: 5rem;
      }

      @media@phone{
        padding-top: 1rem;
      }
    }

    ul li a:hover{
      color: #39869D;
      font-size: 2rem;
      text-decoration: none;
    }
  }
}